body {
  margin: 0;
}
header {
  background-color: #abcdc7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  color: white;
  padding: 0px 7px;
}
header li {
  display: inline-block;
  font-family: playfair display, Helvetica, sans-serif;
  text-align: center;
}

header li a{
  text-decoration: none;
  color: aliceblue;
  font-size: xx-large;
  padding: 20px 16px ;
}
header li a.active{
  background-color: #ffffff31;
}
header li a:hover{
background-color: #ffffff31;
}
header img {
  height: 77px;
}
.heroImg p {
  display: inline-block;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
}

.heroImg {
  background-color: #ebebeb;
  padding: 100px 15px;
}
.content img {
  width: 300px;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
  display: inline-block;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}
button {
  background-color: #04c9a5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffd0d3;
}
h1 {
  padding: 0px 7px;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: #3d405b;
  font-size: xx-large;
  text-align: center;
}
element.style {
  width: 100%;
}
.img {
  width: 33%;
  margin: 10px;
  padding: 10px;
}
h3 {
  width: 33%;
  margin: 10px;
  padding: 10px;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: #3d405b;
  justify-self: center;
  align-self: center;
}
.p {
  width: 33%;
  margin: 10px;
  padding: 10px;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: #3d405b;
}

footer {
  background-color: #abcdc7;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-size: larger;
}
.workGrid {
  display: grid;
  grid-column: 1fr 1fr;
  column-gap: 5px;
  grid-row: 1fr 1fr;
  justify-content: space-evenly;
  align-content: center;
  padding: 5px;

  background-color: lightcoral;
  grid-template-areas:
    "projectOne projectTwo"
    "projectInfoone projectInfotwo ";
}
.projectOne {
  grid-area: projectOne;
}
.projectTwo {
  grid-area: projectTwo;
}
.projectInfoone {
  grid-area: projectInfoone;
  display: inline-block;
  padding: 3px;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: aliceblue;
}
.projectInfotwo {
  grid-area: projectInfotwo;
  display: inline-block;
  padding: 3px;
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: aliceblue;
}

div .myWork {
  font-family: playfair display, Helvetica, sans-serif;
  text-decoration: none;
  color: #3d405b;
}
@media only screen and (max-width: 600) {
  body {
    width: 100%;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
